.flex {
  background: rgb(48, 48, 48);
  display: flex;
  width: 100%;
  flex-direction: row;
}

.flexRow {
  justify-content: space-around;
}
.flexCenter {
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.flexGrow {
  flex-grow: 2;
}

.alignCenterSelf {
  align-self: center;
}

.white {
  color: aliceblue;
}

.maxHeight {
  height: 100vh;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.textCenter {
  text-align: center;
}

.dModeText {
  color: rgb(150, 150, 150);
}

/* ======================== Padding ======================== */
.topPaddingXL {
  padding: 5em 0em 0em 0em;
}

/* ======================== Margin ======================== */

.topMarginL {
  margin: 3em 0em 0em 0em;
}

.topMarginXL {
  margin: 5em 0em 0em 0em;
}

/* ======================== Position ======================== */
.positionStatic {
  position: static;
}

.positionRelative {
  position: relative;
}

.positionStatic {
  position: static;
}

.positionStatic {
  position: static;
}

/* ======================== zIndex ======================== */
.zIndex {
  z-index: 10;
}

/* ======================== Scrolling ======================== */
.scrollY {
  overflow-y: scroll;
}
