.background {
  background: rgb(32, 32, 32);
}

.peoplesColumn {
  width: calc(100vw / 2);
  min-width: 27em;
  max-width: calc(50em);
  /* background: lightblue; */
}

.userData {
  display: flex;
}

.addFriendBtn {
  background:rgb(160, 0, 75);
  padding: .8em;
  border-radius: .3em;
}

.sentReqbtn {
  background:rgb(83, 0, 39);
  padding: .8em;
  border-radius: .3em;
}

.addFriendBtn:hover {
  cursor: pointer;
}