.background {
  background: rgb(32, 32, 32);
}

.profilePic {
  font-size: 15em;
}

.postsAndFriends {
  width: calc(100vw / 1.5);
}

.userFriends {
  width: 40%;
  margin: 0em 0.5em 0em 0em;
  /* background: lightcoral; */
}

.userPosts {
  /* background: lightgoldenrodyellow; */
}

.feedColumn {
  width: calc(100vw / 2);
  min-width: 27em;
  max-width: calc(50em);
  /* background: lightblue; */
}

.friendContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 0em 1em 1em;
}

.eachFriend {
  margin: 1em 1em 0em 0em;
  padding: 0.5em 0em 0em 0em;
  background: rgb(68, 68, 68);
  width: calc(100vw / 13);
  height: 6.5em;
  border-radius: 0.7em;
}

.eachFriend:hover {
  cursor: pointer;
  background: rgb(95, 95, 95);
}

.friendBtn {
  margin: 1.1em 0em 0em 0em;
  padding: 1em 0em;
  border-radius: 0.7em;
  width: calc(100vw / 13);
  text-align: center;
  background:rgb(160, 0, 75);
  height: auto;
}

.friendBtn:hover {
  cursor: pointer;
  background:rgb(83, 0, 39);
  color: rgb(202,202,202);
}

.sentBtn {
  margin: 1.1em 0em 0em 0em;
  padding: 1em 0em;
  border-radius: 0.7em;
  width: calc(100vw / 13);
  text-align: center;
  background:rgb(83, 0, 39);
  height: auto;
}
/* 
.unfriendBtn {
  margin: 1.1em 0em 0em 0em;
  padding: 1em 0em;
  border-radius: 0.7em;
  width: calc(100vw / 13);
  text-align: center;
  background:rgb(160, 0, 75);
  height: auto;
}

.unfriendBtn:hover {
  cursor: pointer;
  background:rgb(83, 0, 39);
  color: rgb(202,202,202);
} */

.chatBtn {
  margin: 1.1em 0em 0em 1em;
  padding: 1em 0em;
  border-radius: 0.7em;
  width: calc(100vw / 13);
  text-align: center;
  background:rgb(160, 0, 75);
  height: auto;
}

.chatBtn:hover {
  cursor: pointer;
  background:rgb(83, 0, 39);
  color: rgb(202,202,202);
}

.flexColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.friendPic {
  font-size: 4em;
  align-self: center;
  /* background:rgb(160, 0, 75); */
}

.friendName {
  font-size: 2em;
  align-self: center;
}
